nav{
    color: thistle;
    font-family: serif;
    font-weight: bold;
    font-size: 25px;
}

nav ul{
    list-style-type: none;
    position: relative;
    top: 0;
    width: auto;
}

nav li{
    display: inline;
    padding-right: 20px;
}  

header h1{
    color:purple;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
}

body{
background-image: linear-gradient(red, orange, yellow, green, blue, purple);
}

h1{
    color: whitesmoke;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    font-size: 75px;
}

h2{
    color:whitesmoke;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

.flex-containerone{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: inherit;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-family: serif;
    font-weight: bold;
}

#learn{
    border-top: 4px solid whitesmoke;   
}

.flex-containerone p{
    color: blue;
    font-family: sans-serif;
    text-align: center; 
    font-size: 25px;
}

#chakras{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    align-self: flex-start;
    text-align: left;
}

#crystals{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    align-self: flex-start;
}

#meditation{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    align-self: flex-start;
}

#readings{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    align-self: flex-start;
}

.flex-containertwo{
    display: flex;
    font-family: serif;
    font-weight: bold;
}

#do{
    border-top: 4px solid whitesmoke; 
}

.flex-containertwo p{
    color: darkmagenta;
    font-family: sans-serif;
    text-align: center; 
    font-size: 25px;
}

#meditation-two{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    align-self: flex-start;
}

#readings-two{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    align-self: flex-start;
}

.flex-containerthree{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    border-bottom: 2px solid whitesmoke;
    font-family: serif;
    font-weight: bold;
}

#buy{
    border-top: 4px solid whitesmoke;
}


.flex-containerthree p{
    color: orangered;
    font-family: sans-serif;
    text-align: center; 
    font-size: 25px;
}

#wellness-kits{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    align-self: flex-start;
}

#crystals-two{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    align-self: flex-start;
}

#incense{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    align-self: flex-start;
}

#other{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    align-self: flex-start;
}
footer ul{
    list-style-type: none;
    position: relative;
}

footer li{
    font-family: serif;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
    margin-top: 35px;
} 

a:link{
    color: whitesmoke;
    text-decoration: none;
}

a:visited{
    color: violet;
    text-decoration: underline;
}

a:hover{
    color: violet;
    text-decoration: none;
}

a:active{
    color: whitesmoke;
    text-decoration: underline;
}

